.create-todo-button {
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #61dafa;
  border-radius: 50%;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  color: #fafafa;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;

  transform: rotate(0);
  transition: 0.3s ease;
}

.create-todo-button:hover {
  transform: rotate(224deg);
}
