.todo-search {
  width: calc(100% - 62px);
  height: 64px;
  border: 2px solid #202329;
  margin: 0 24px;
  background: #f9fbfc;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.todo-search::placeholder {
  color: #a5a5a5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.todo-search:focus {
  outline-color: #61dafa;
}
